html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
}

body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 5 auto;
    max-width: 1000px;
    padding: 2em 2em 4em;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

img {
    animation: colorize 2s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

code {
    font-family: monospace;
}

.menu {
    list-style-type: none;
    left: 0px;
    margin: 0px;
    padding: 0px;
    width: 2000px;
    background-color: #736B6A;
    overflow: hidden;
    position: fixed;
    top:0px;
    z-index: 2;
}

.menu a{
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

.menu li {
    float: left;
}

.menu a:hover {
    background-color: #4CAF50;
    color: white;
}

.active {
    background-color: #4CAF50;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

.button a{
    font-weight: 600;
    background-color: #4CAF50;
    line-height: 1.3;
    color: white;
    display: inline;
    padding: 10px;
    text-decoration: none;
    text-align: left;
}

.button a:hover {
    box-shadow: 10px 5px 50px grey;
}
