.app-wrapper {
  position: absolute;
  text-align: center;
  width: 500px;
  position: absolute;
  top:50%;
  left:50%;
  background: #191919;
  border-radius: 15px;
  border: 1px solid #282828;
  transform: translate(-50%, -50%);
}

.app-wrapper h1 {
  color: #ffff; 
  padding: 14px 10px;
}

.button-wrapper {
  justify-content: center;
  display: block;
  margin: 20px auto;
  padding: 14px 10px;
  text-align: center;
  border: 2px solid #9b65e6;
  width: 200px;
  outline: none;
  border-radius: 24px;
}

