.app-wrapper {
}
.contentTitle{
    font-weight: bold;
    font-size:1.5em;
}
.header{
    font-size: 1.5em;
}

.Navbar.brand{
    font-size:1.5em
}

.projectImage{
    max-height:500px;
    width:100%;
}
.scrolled{
    background: #008eaa;
    transition: background 700ms;
}

#aboutContent{
    font-size: 1.2em;
}